In [2]:
import numpy as np
import pandas as pd

In [6]:
# Níveis de índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [8]:
inside

[1, 2, 3, 1, 2, 3]

In [10]:
hier_index = list(zip(outside, inside)) #Pega listas e transforma em tupla
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [15]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1 -0.278870 -1.993011
   2 -0.068077  0.477665
   3  0.226299  0.005439
G2 1 -0.170922  0.398391
   2  1.175843  0.520016
   3 -0.352280 -1.431451

In [24]:
df.index.names = ['Grupo', 'Numero']
df

                     A         B
Grupo Numero
G1    1      -0.278870 -1.993011
      2      -0.068077  0.477665
      3       0.226299  0.005439
G2    1      -0.170922  0.398391
      2       1.175843  0.520016
      3      -0.352280 -1.431451

In [26]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.278870 -1.993011
G2    -0.170922  0.398391